
<h3 id="videoconferencing">Installieren des Videokonferenz-Clients</h3>

{% comment %}
Replace the paragraph below with the relevant installation instructions
if you do not use Zoom
{% endcomment %}
<p>
  Wenn Sie Zoom noch nicht genutzt haben, gehen Sie bitte auf die
  <a href="https://zoom.us/download">offizielle Webseite</a>, um es herunterzuladen und zu installieren auf Ihrem Computer.
</p>


<h4>Arbeitsplatz vorbereiten</h4>

<p>
  Wie bei anderen Carpentries-Workshops lernen Sie, indem Sie gemeinsam mit den Instructors „coden“.
  Dazu müssen Sie sowohl das Fenster für das jeweilige Tool, das Sie kennenlernen werden, als auch das Fenster für Zoom geöffnet haben.
  Um idealerweise beides gleichzeitig im Blick zu haben, empfehlen wir eine der folgenden Optionen: 
  
  <ul>
    <li><strong>Zwei Monitore:</strong> Wenn Sie zwei Monitore haben, können Sie das Tool, das Sie lernen, auf dem einen, und Zoom auf dem anderen einsehen.</li>
    <li><strong>Zwei Geräte:</strong> Wenn Sie keine zwei Monitore, aber ein weiteres Gerät mit ausreichendem Bildschirm wie z. B. ein Tablet haben, können Sie dieses zweite Gerät für Zoom nutzen.</li>
    <li><strong>Bildschirmteilung:</strong> 
      Wenn Sie nur ein Gerät und einen Bildschirm haben, üben Sie, zwei Fenster (Zoom und eines der Tools, die Sie im Workshop verwenden werden) gleichzeitig zu öffnen: Wie können Sie beides am besten auf Ihrem Bildschirm unterbringen? Funktioniert es für Sie am besten, mit einer Tastenkombination zwischen ihnen hin- und herzuschalten? Probieren Sie es im Voraus aus.</li>
  </ul>
  Dieser <a href="https://carpentries.org/blog/2020/06/online-workshop-logistics-and_screen-layouts/" target="_blank">Blog-Post</a> enthält detaillierte Informationen, wie Sie Ihren Bildschirm einrichten können, um den Workshop zu verfolgen.
</p>
