<p>
  <a href="{{site.lc_site}}">Library Carpentry</a>
  wurde entworfen von und für Menschen aus dem Bibliotheks- und Informationssektor, um möglichst
</p>
<ul>
  <li>repetitive, langweilige und fehleranfällige Aufgaben zu automatisieren</li>
  <li>nachhaltige und wiederverwendbare Daten zu erstellen, pflegen und analysieren</li>
  <li>effektiv mit Kollegen aus der IT zusammenzuarbeiten</li>
  <li>den Einsatz von Software in der Forschung besser zu verstehen</li>
  <li>und vieles mehr ...</li>
</ul>
<p align="center">
  <em>
    Library Carpentry führt ein in informatische Grundlagen und bietet eine Plattform für weiteres selbstgesteuertes Lernen.
    Weitere Informationen darüber, was wir unterrichten und warum, finden Sie in unserem Artikel 
        "<a href="https://doi.org/10.18352/lq.10176">Library Carpentry: software skills training for library professionals</a>".
  </em>
</p>
