<div id="shell-setup"> {% comment %} Start of 'shell' section. {% endcomment %}
  <h3>Bash Shell</h3>
  <p>
    Ein weitverbreitetes Tool, mit dem sich einfache Aufgaben schneller erledigen lassen. Installations-Anweisungen finden Sie in der
    <a href="https://librarycarpentry.org/lc-shell/setup.html">Lesson</a>. Bei Problemen können Sie sich wenden an Instructor Andreas Walker: andreas.walker@awi.de .
  </p>
</div>

<div id="openrefine-setup">
  <h3>OpenRefine</h3>
  <p>
    OpenRefine ist ein Werkzeug für die "Säuberung" und Organisation ungeordneter Daten. Installations-Anweisungen und im Workshop verwendete Daten finden Sie in der <a href="https://librarycarpentry.org/lc-open-refine/setup.html">Lesson</a>. Bei Problemen können Sie sich wenden an Instructor Eva Bunge: e.bunge@deutsches-museum.de .
  </p>
</div>

<div id="git-setup"> {% comment %} Start of 'Git' section. GitHub browser compatibility
  is given at https://help.github.com/articles/supported-browsers/{% endcomment %}
  <h3>Git</h3>
  <p>
    Git ist ein Versionsverwaltungssystem zur Nachverfolgung von Änderungen mit Optionen für einfaches Updaten von geteilten oder öffentlichen Code-Versionen auf <a ref="https://github.com/">https://github.com</a>.
  </p>
  <p>
    Installations-Anweisungen finden Sie in der <a href="https://librarycarpentry.org/lc-git/setup.html">Lesson</a>. Bei Problemen können Sie sich wenden an Instructor Dorothea Iglezakis: dorothea.iglezakis@ub.uni-stuttgart.de .
  </p>
  <p>
    Sie benötigen einen Account auf <a href="https://github.com/">github.com</a>
    für die Git-Lesson. Legen Sie bitte einen an, wenn Sie noch keinen haben. Basic-Accounts sind kostenlos. Beachten Sie, welche persönlichen Informationen Sie auf GitHub angeben bzw. privat halten wollen. 
    Hinsichtlich Mail-Adresse kann etwa diese <a href="https://help.github.com/articles/keeping-your-email-address-private/">Anleitung</a> nützlich sein.
    Sie benötigen außerdem einen <a href="https://help.github.com/articles/supported-browsers/">unterstützten Web-Browser</a>.
  </p>
</div>
